# .gitignore for WINDEV, WEBDEV and WINDEV Mobile projects

# Carpetas de sistema y backups
Backup/
Bin/
Lastsave/
Sauvegarde/
Groupware/
Corbeille/
cache.gestion de sources/
.tmp/

# Archivos temporales y generados
*.cache
*.cpl
*.env
*.rep
*.waudit
*.wdcoverage
*.wpf
HstDuree.log

# WinDev análisis y otros
*.ana
*.log
*.idx

# WEBDEV
*\res/
*.awl
*.awp

# WINDEV Mobile
android/
*.xcode.gen

# Carpetas opcionales del desarrollador
.vscode/
.idea/
*.bak
